.contents {
    width: 100px;
    height: 50px;
    margin: 20px auto;
    background-color: transparent;
    /* transition: height .2s, width .2s, background-color .2s; */
}

.okay {
    width: 50px;
    height: 50px;
    background-color: pink;
}

.wide {
    width: 728px;
    height: 90px;
    background-color: aquamarine;
}

.medium {
    width: 300px;
    height: 250px;
    background-color: darkslateblue;
}

.weird {
    width: 600px;
    height: 300px;
    background-color: seagreen;
}